<form nz-form nzLayout="vertical" [formGroup]="form">
    <nz-form-item>
        <nz-form-label>
            Contraseña actual
        </nz-form-label>
        <nz-form-control>
            <input nz-input formControlName="current">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label>
            {{type === "password" ? "Nueva contraseña" : "Nuevo PIN" }}
        </nz-form-label>
        <nz-form-control>
            <input nz-input formControlName="value">
        </nz-form-control>
    </nz-form-item>
</form>

<div *nzModalFooter>
    <button nz-button nzType="default" (click)="destroyModal()">Cancelar</button>
    <button nz-button nzType="primary" (click)="onUpdate()">Actualizar</button>
</div>