<div class="logo">
    <img src="/logo.svg" alt="La Casa Imperial">
    <div class="text">La Casa Imperial</div>
</div>

<section class="menu">
    <ul nz-menu nzMode="inline">
        <li nz-submenu nzTitle="Inventario">
            <ul>
              <li nz-menu-item routerLink="/inventario/items">Items</li>
              <li nz-menu-item routerLink="/inventario/categorias">Categorías</li>
            </ul>
          </li>
    </ul>
    <ul>
        <li>Configuraciones</li>
        <li>Usuarios</li>
    </ul>
</section>