<section class="info-base">
    <div class="flex column center">
        <div>
            <img src="logo.svg" alt="La Casa Imperial" height="50">
        </div>
        <div>Inversiones La Casa Imperial S.A.S ZOMAC</div>
        <div>901.813.112</div>
    </div>

    <div class="flex column center">
        <div>
            {{email}}
        </div>
    </div>

    <div class="flex column center">
        <div>
            {{cellphone}}
        </div>
    </div>
</section>

<section>
    <div>
        Desarrolla por <a href="https://novah.dev" target="_blank" style="text-decoration: none; color: inherit;">Novah.dev</a>
    </div>
    <div>
        Copyright © 2024 Inversiones La Casa Imperial S.A.S ZOMAC
    </div>
    <div></div>
</section>