<header>
    <div class="header-content">
        <div class="logo">
            <img src="logo-white.svg" alt="La Casa Imperial">
            <div class="text">La Casa Imperial</div>
        </div>
        <div>
            
        </div>
        <div>
            Carrito de compras
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a routerLink="/electrodomesticos/neveras-y-nevecones">
                    Neveras y nevecones
                </a>
            </li>
            <li>
                <a routerLink="/electrodomesticos/lavadoras">
                    Lavadoras
                </a>
            </li>
            <li>
                <a routerLink="/electrodomesticos/climatizacion">
                    Climatización
                </a>
            </li>
            <li>
                <a routerLink="/televisores">
                    Televisores
                </a>
            </li>
            <li>
                <a routerLink="/electrodomesticos/cocina">
                    Cocina
                </a>
            </li>
            
        </ul>
    </nav>
</header>

<section>
    <main>
        <router-outlet/>
    </main>
    <footer>
        <app-footer-content/>
    </footer>
</section>
